.big-col::after {
    content: "";
    display: block;
    clear: both;
}
.col1 {
    width: calc(50% - 16px);
    display: inline-block;
}

.col2 {
    width: calc(50% - 16px);
    float: right;
}

.send {
    color: #fff;
    background-color: rgb(34, 120, 120);
    padding: 16px;
}