*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #000000cf;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope {
    width: 400px;
    height: 200px;
    background-color: brown;
    position: relative;
    transition: transform .6s ease;
}

.top-side {
    position: relative;
    border-bottom: 100px solid rgb(69, 140, 140);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    top: -100px;
    z-index: 6;
    transform-origin: bottom;
    transform: rotateX(180deg);
    transition: all .8s ease .6s;
}

.left-side {
    border-left: 200px solid rgb(65, 195, 195);
    position: absolute;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    top: 0;
    left: 0;
    z-index: 4;
}

.letter {
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: #fff;
    transform-origin: bottom;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 3;
    transition: all 1s ease;
}

.letter-decor {
    height: 40px;
    border: 1px solid yellow;
    position: absolute;
    top: 0;
}

.right-side {
    border-right: 200px solid aqua;
    position: absolute;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    top: 0;
    right: 0;
    z-index: 4;
}

.bottom-side {
    position: absolute;
    border-bottom: 100px solid rgb(65, 195, 195);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    z-index: 4;
}

.shadow {
    position: absolute;
    bottom: 100px;
    border-radius: 50%;
    height: 10px;
    width: 360px;
    filter: blur(10px);
    background: radial-gradient(#000 10%, #333);
    transition: all .9s ease;
}


/* ACTION */

.envelope:hover {
    transform: translateY(40%);
    transition-delay: .3s;
}

.envelope:hover .top-side {
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: .3s;
}

.envelope:hover .letter {
    top: -70%;
    height: 150%;
    z-index: 3;
    transition-delay: .6s;
}

.envelope:hover ~ .shadow {
    width: 100px;
    filter: blur(4px);
}
