* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Asap", sans-serif;
}

body {
    background: url(../fonts/banner.jpg) no-repeat center / cover;
    display: flex;
    align-items: center;
    height: 100vh;
}

.project {
    background-color: rgba(225, 255, 255, 0.5);
    color: #3f3424;
    width: 560px;
    padding: 20px 16px;
    margin-left: 20%;
    position: relative;
    border-radius: 12px;
}

h2 {
    color: #bf4240;
}

p {
    padding: 16px 0;
}

.project-address {
    padding-bottom: 24px;
}

span {
    color: #fff;
    font-family: "SFU", sans-serif;
    font-weight: 700;
    background-color: #bf4240;
    padding: 12px 28px;
    position: absolute;
    right: 44px;
    border-radius: 4px;
}

@font-face {
    font-family: "Asap";
    src: url(../fonts/Asap-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "SFU";
    src: url(../fonts/Full\ 238\ Font\ SFU/SFU);
}