* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Font", sans-serif;
}

.box {
    position: relative;
}

.box-img {
    width: 100%;
}

.box-img img {
    width: 100%;
    display: block;
    filter: brightness(0.9);
}

.box-profile {
    position: absolute;
    display: flex;
    bottom: 52px;
    left: 160px;
}

.box-profile__img img {
    width: 240px;
    height: 180px;
    border-radius: 12px;
}

.box-profile__intro {
    padding: 28px;
    color: #fff;
    width: 520px;
}

.box-profile__intro p,
.box-profile__intro .name {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.box-profile__info {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 60px;
}

input {
    border: none;
    color: #000;
    background-color: transparent;
    padding: 12px;
}

.hr {
    height: 4px;
    width: 100%;
    background-color: red;
    display: none;
}

input:focus {
    color: red;
}

input:focus ~ .hr {
    display: block;
}

@font-face {
    font-family: "Font";
    src: url(../fonts/Asap-VariableFont_wdth\,wght.ttf);
}