* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.clear-fix {
    clear: both;
}

.megaMenu {
    background: url(../fonts/mega-menu.png) no-repeat center / cover;
    min-height: 600px;
    filter: brightness(0.9);
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
}

.header-logo img {
    width: 140px;
    height: 54.35px;
}

.header-menu {
    display: flex;
}

.header-menu li {
    list-style: none;
    padding: 4px 20px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
}

.header-menu li:hover {
    opacity: 0.7;
}

.header-menu li:hover a {
    opacity: 0.7;
}

.header-menu li:nth-of-type(7),
.header-menu li:nth-of-type(8) {
    padding: 0 12px;
}

.header-menu li a {
    color: #000;
    text-decoration: none;
    line-height: 46.35px;
}

.header-menu li:nth-of-type(7) a,
.header-menu li:nth-of-type(8) a {
    line-height: 59.15px;
}

.header-menu li i {
    font-size: 12px;
    margin-left: 4px;
}

.header-menu li a i {
    font-size: 20px;
}

.menuBox {
    background-color: #fff;
    color: #000;
    margin: 0 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    display: flex;
    padding: 44px;
    max-height: 452px;
}

.menuBox-item1-usage::after {
    content: "";
    display: block;
    clear: both;
}

.menuBox-item1 {
    width: 40%;
}

.usage {
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.menuBox-item1 ul li {
    list-style: none;
    padding: 8px 0px;
    width: 50%;
    float: left;
    margin-top: 2px;
}

.menuBox-item1 ul li a {
    color: #000;
    text-decoration: none;
}

.menuBox-item2-styleguide::after {
    content: "";
    display: block;
    clear: both;
}

.styleguide {
    margin: 28px 0 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.wall {
    height: 300px;
    width: 2px;
    background-color: gray;
    margin-right: 60px;
}

.menuBox-item2 {
    width: 60%;
}

.elements {
    font-weight: 500;
    margin-bottom: 12px;
}



.menuBox-item2 ul li {
    list-style: none;
    padding: 8px 0px;
    width: 33.33%;
    float: left;
}

.menuBox-item2 ul li a {
    color: #000;
    text-decoration: none;   
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}