html {
    scroll-behavior: smooth;
}

/* HEADER  */
#s-body {
    text-align: center;
}

.header {
    margin-top: 52px;
}

#s-body .nav {
    display: inline-block;
}

#s-body .nav ul {
    padding: 0px;
    display: flex;
    list-style: none;
    width: 600px;
}

#s-body .nav li {
    border: 1px solid #fff;
    list-style-type: none;
    background-color: rgb(181, 174, 174);
    flex: 1;
}

#s-body .nav li a {
    padding: 8px ;
    text-decoration: none;
    color: #000;
    display: block;
}

.heading {
    font-size: 40px;
    font-family: BebasNeue, sans-serif;
}

/* BODY  */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64vh;
    position: relative;
    z-index: 1;
}

.main::after {
    content: " ";
    display: block;
    clear: both;
}

.skincare,
.shirt,
.shoes,
.bag,
.pant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.skincare {
    z-index: 2;
}

.product-img {
    width: 240px;
    height: 240px;
}

.price {
    font-weight: bold;
}

/* HOVER  */

#s-body .nav li:hover a {
    color: #fff;
    background-color: blue;
}

/* SUB  */
@font-face {
    font-family: BebasNeue;
    src: url(./font/BebasNeue-Regular.ttf);
}
