* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

body {
  font-family: $fonts;
  font-size: $fontSize;
  color: $textColor;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    color: $primaryColor;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}
