.header {
  padding: 15px 0;
  height: 125px;
  box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px
    rgba(0, 0, 0, 0.15);
  margin-bottom: 1px;
  .logo {
    height: 95px;
    img {
      max-height: 100%;
      width: auto;
    }
  }
  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .menu {
      ul {
        display: flex;
        li {
          padding: 0 25px;

          a {
            font-weight: 600;
            padding-bottom: 52px;
          }

          &.active {
            a {
              color: $primaryColor;
              border-bottom: 1.667px solid $primaryColor;
            }
          }

          &:hover {
            @extend .active;
          }
        }
      }
    }

    .cart-icon {
      padding: 0 25px;

      a {
        position: relative;
        span {
          position: absolute;
          top: -6px;
          right: -7px;
          font-size: 1.3rem;
          background-color: $secondaryColor;
          color: #fff;
          border-radius: 50%;
          padding: 0 5px;
        }
      }
      a:active {
        a {
          color: $primaryColor;
          border-bottom: 1px solid $primaryColor;
        }
      }
    }

    .search-icon {
      padding-left: 25px;
    }
  }

  .menu-toggle {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 991.98px) {
  .header {
    .menu-toggle {
      display: block;
      label {
        font-size: 2rem;
      }
    }

    .header-nav {
      .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: #00000065;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease;
        transition-property: opacity, visibility;
      }
      .menu {
        position: fixed;
        z-index: 2;
        top: 0%;
        left: 0%;
        bottom: 0%;
        background-color: $primaryColor;
        min-width: 250px;
        padding: 20px 0;
        translate: -100%;
        transition: translate 0.4s ease;
        ul {
          display: block;
          li {
            a {
              color: #fff !important;
              display: block;
              padding: 10px 0;
            }
          }
        }
      }

      .cart-icon {
        a:active {
          border: none;
        }
      }

      .search-icon {
        padding-left: 0;
      }

      input[type="checkbox"] {
        &:checked {
          ~ .menu-overlay {
            visibility: visible;
            opacity: 1;
          }
          ~ .menu {
            translate: 0;
          }
        }
      }
    }
  }
}
