* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Nunito",sans-serif;
    font-weight: 500;
}

.main {
    background-color: gray;
    height: 100vh;
}

.close {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 0px 6px;
    float: right;
    margin-right: 20px;
}

.close:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.cart-box {
    background-color: gainsboro;
    width: 400px;
    position: relative;
    float: right;
    height: 100%;
}

.cart-title {
    position: relative;
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
}

.four {
    color: #fff;
    background: blue;
    font-size: 12px;
    border-radius: 50%;
    padding: 0.2px 2px;
    position: absolute;
}

.product {
    overflow-y: scroll;
    max-height: 500px;
}

.product-item {
    display: flex;
    padding: 16px;
    background-color: #fff;
    margin: 1px 0;
    overflow: hidden;
}

img {
    width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.product-info {
    width: 100%;
    padding: 8px 24px;
}

.product-name {
    display: flex;
    justify-content: space-between;
}


.quantity i:hover,
.product-name span:hover i {
    opacity: 0.5;
    cursor: pointer;
}

.product-qap {
    margin-top: 12px;
}

.quantity {
    border: 1px solid;
    padding: 2px 12px;
    border-radius: 16px;
}

.one {
    padding: 0 16px;
}

.price {
    margin-left: 40px;
    font-weight: bold;
}

.subtotal {
    padding: 16px;
    position: absolute;
    bottom: 0%;
    background-color: #fff;
    width: 100%;
}

.subtotal p {
    margin: 12px 0;
}

.subtotal label {
    border-radius: 4px;
}

.subtotal-title {
    display: flex;
    justify-content: space-between;
}

.subtotal-title span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.subtotal-title span:nth-child(2) {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.subtotal-title p {
    font-size: 12px;
}

.subtotal label:nth-of-type(1):hover {
    opacity: 0.7;
    cursor: pointer;
}

.subtotal input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin: 8px 0;
}

.subtotal label:nth-of-type(2) input {
    color: #fff;
    background-color: blue;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}

.subtotal-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.subtotal-footer span:nth-child(1) {
    border: 1px solid blue;
    padding: 12px;
    border-radius: 50%;
    color: blue;
}

@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}